__pycache__/
.*_cache/
.ipynb_checkpoints/

.venv*/
.vscode/
third_party/
wandb/
docs/build/
docs/source/api
build/
reports/
datasets/

.coverage*
/*.ipynb
*.so
*.npz
*.pkl
*.onnx
*.log
/dev_*.py
*.sh
